
{{#if childRoutes}}
    <ul>  
    {{#each childRoutes}}
        <li>
            <div class="endpoint" draggable="true" data-uid="{{__uuid__}}">
                <h3>{{@key}}</h3>
                <a href="./delete/{{__uuid__}}">DELETE</a>
                {{> methods this}}
            </div>
            {{> endpoint this}}
        </li>
    {{/each}}
        <li>
            <div class="drag-cible" data-drop="true" data-uid="{{__uuid__}}"><a href="./addendpoint/{{__uuid__}}" class="round-btn">
            <i class="material-icons">add</i></a></div>
        </li>
    </ul>
{{else}}
    <ul>
        <li>
            <div class="drag-cible" data-drop="true" data-uid="{{__uuid__}}"><a href="./addendpoint/{{__uuid__}}" class="round-btn">
            <i class="material-icons">add</i></a></div>
        </li>
    </ul>
{{/if}}
    